---
import ofertas from "../data/ofertas.json";
---

{ofertas.habilitado && (
  <section id="ofertas" class="py-16 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
      <!-- Título de la sección -->
      <div class="text-center mb-12">
        <h2 class="text-3xl sm:text-4xl font-bold text-blue-900 mb-4">
          {ofertas.titulo}
        </h2>
      </div>

      <!-- Grid de ofertas minimalista -->
      <div class="flex flex-wrap gap-16 justify-center items-start ">
        {ofertas.promociones.map((oferta) => (
          <div class="flex flex-col justify-center gap-8 items-center w-[360px] text-center">
            <!-- Imagen -->
            <div class="w-full">
              <img 
                src={oferta.imagen} 
                alt={oferta.titulo}
                class="w-full h-100 object-cover rounded-lg"
              />
            </div>
            <div class="">
              <!-- Precio -->
              <div class="text-2xl font-bold text-orange-600 mb-2 ">
                {oferta.precio_oferta}
              </div>
              
              <!-- Descripción -->
              <p class="text-gray-600 text-sm">
                {oferta.descripcion}
              </p>
            </div> 
          </div>
        ))}
      </div>
    </div>
  </section>
)}

<style>
  /* Estilos minimalistas */
  #ofertas img {
    transition: transform 0.3s ease;
  }

  #ofertas img:hover {
    transform: scale(1.05);
  }
</style>